# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
out/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# OS Files
.DS_Store
Thumbs.db

# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

# Local Docker
postgres-data/
redis-data/
